name: Hello Universe 游
on:     # When will it 游눅
  push: # On push it will 游눅
    branches: # Which 游꺖 will it 游눅
      - main # On Main 游꺖 it will 游눅
  workflow_dispatch:
jobs: # Works to be done
  build_and_test: # Pipeline to be complete
    runs-on: ubuntu-20.04 # Server to be ran on
    steps: # Steps to go through
      - name: Clone Code # Name of the steps
        uses: actions/checkout@v2 # What it does
      - name: Compile Java File # Name of the steps
        shell: bash # What shell to use
        run: javac Main.java # What it does
      - name: Run The Java File # Name of the steps
        shell: bash # What shell to use
        run: java Main # What it does